SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=*

# URL base API ApotekApps (tanpa trailing slash)
APOTEK_API_BASE_URL=http://127.0.0.1:8000/api

# Kredensial admin ApotekApps untuk login awal
APOTEK_ADMIN_USERNAME=admin
APOTEK_ADMIN_PASSWORD=admin
