<aside class="sidebar" id="sidebar">
  <div class="sidebar__brand">
    <div class="sidebar__logo">⚕</div>
    <span class="sidebar__title">ApotekMonitor</span>
  </div>

  <nav class="sidebar__nav">
    <div class="nav-section">Monitor</div>

    <a href="{% url 'dashboard' %}" class="sidebar__item {% if active_menu == 'dashboard' %}active{% endif %}">
      <i class="fa-solid fa-chart-line sidebar__icon"></i>
      <span>Dashboard</span>
    </a>
    <a href="{% url 'endpoint_list' %}" class="sidebar__item {% if active_menu == 'endpoints' %}active{% endif %}">
      <i class="fa-solid fa-plug sidebar__icon"></i>
      <span>Endpoints</span>
    </a>
    <a href="{% url 'log_list' %}" class="sidebar__item {% if active_menu == 'logs' %}active{% endif %}">
      <i class="fa-solid fa-list sidebar__icon"></i>
      <span>Request Logs</span>
    </a>
    <a href="{% url 'webhook_list' %}" class="sidebar__item {% if active_menu == 'webhooks' %}active{% endif %}">
      <i class="fa-solid fa-bell sidebar__icon"></i>
      <span>Webhooks</span>
    </a>
    <a href="{% url 'architecture' %}" class="sidebar__item {% if active_menu == 'architecture' %}active{% endif %}">
      <i class="fa-solid fa-diagram-project sidebar__icon"></i>
      <span>Architecture</span>
    </a>
    <a href="{% url 'topology' %}" class="sidebar__item {% if active_menu == 'topology' %}active{% endif %}">
      <i class="fa-solid fa-network-wired sidebar__icon"></i>
      <span>Topology</span>
    </a>
    <a href="{% url 'delivery_list' %}" class="sidebar__item {% if active_menu == 'deliveries' %}active{% endif %}">
      <i class="fa-solid fa-truck-medical sidebar__icon"></i>
      <span>Pengantaran Obat</span>
    </a>

    <div class="sidebar__divider"></div>

    <div class="nav-section">System</div>

    <a href="/admin/" class="sidebar__item" target="_blank">
      <i class="fa-solid fa-gear sidebar__icon"></i>
      <span>Django Admin</span>
    </a>

    <form method="post" action="{% url 'logout' %}" style="margin:0">
      {% csrf_token %}
      <button type="submit" class="sidebar__item sidebar__item--danger">
        <i class="fa-solid fa-right-from-bracket sidebar__icon"></i>
        <span>Logout</span>
      </button>
    </form>
  </nav>

  <div class="sidebar__footer">
    v1.0 &nbsp;·&nbsp; port 8090
  </div>
</aside>
